.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.carousel-indicators .active,
.option-box .gear-check
{
    background-color: #428BCA;
}

.dropdown-menu,
.option-box .color-option,
.testimonials .carousel-indicators li.active

{
    border: 3px solid #428BCA;
}

.navbar-inverse .navbar-brand span,
.about span,
.footer .copyrights span,
.footer h3,
.testimonials .item span

{
    color: #428BCA;
}
.dropdown-menu {
    border: 0px;
    border-top: 1px solid #428BCA;
}
.navbar-nav > li > .dropdown-menu{
    border-top: 2px solid #428BCA;
}

